<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectUCP1_LayananDesa.Properties.Settings.LayananDesa_DBConnectionString"
            connectionString="Data Source=FAIZSLTN-27\FAIZSLTN;Initial Catalog=LayananDesa_DB;User ID=sa;Password=faizganteng1;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>